<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<a href="#" wicket:id="edit" title="edit"><i class="far fa-edit"></i></a>
	<a href="#" wicket:id="remove" title="delete"><i class="far fa-trash-alt"></i></a>
</wicket:panel>
