body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
	 padding-bottom: 20px;
	
}
.filters {
	 padding-bottom: 10px;
	
}

.navigator a {
	padding-left: 10px;
}

.navigator {
	font-weight: bold;
}

select {
	min-width: 150px;
}
